@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #1e1e1e;
  --secondary-color: #e2e2e2;
  --highlight-color: #fec576;
}
.light-theme {
  --primary-color: #e2e2e2;
  --secondary-color: #1e1e1e;
}
::selection {
  background-color: #f0d3aa;
}
body {
  background-color: var(--primary-color);
}
hr {
  height: 2px;
  border: none;
  background-color: var(--highlight-color);
  margin: 3vw 3vw;
  opacity: 0.5;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: var(--primary-color);
  position: fixed;
  transition: 0.5s;
}
nav.scrolled {
  background-color: black;
  opacity: 0.7;
  z-index: 2;
}
.navbar-left {
  padding-left: 30px;
}
.navbar-left h1 {
  font-size: max(2vw, 25px);
  color: var(--highlight-color);
}
.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  position: relative;
}
.navbar-right ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}
.navbar-right li {
  margin: 0 10px;
}
.navbar-right a {
  text-decoration: none;
  font-size: max(1vw, 25px);
  color: var(--secondary-color);
  position: relative;
}
.navbar-right a::after {
  content: "";
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: var(--highlight-color);
  transition: width 0.3s ease;
}
.navbar-right a:hover:after {
  width: 90%;
}
.navbar-right button {
  border: 2px solid #e2e2e2;
  padding: 5px 10px;
  font-size: max(2vw, 20px);
  background-color: #0f0f0f;
  border-radius: 15px;
  transition: 0.5s;
  color: #e2e2e2;
  font-weight: 900;
}
.navbar-right button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--highlight-color);
  color: #0f0f0f;
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-left {
  font-size: max(2vw, 40px);
  color: var(--secondary-color);
}
.home-left span {
  color: var(--highlight-color);
  text-shadow: 0 0 10px #0f0f0f;
}
.home-right img {
  height: 400px;
  margin: auto;
  border-radius: 5px;
}
.home-right{
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
  padding: 15px;
}
.home-right::after{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--highlight-color);
  border-right: 10px solid var(--highlight-color);
  right: 20px;
  bottom: -40px;
}
.home-right::before{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--highlight-color);
  border-left: 10px solid var(--highlight-color);
  left: -20px;
  top: -40px;
}
.about {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#heading {
  color: #0f0f0f;
  font-size: max(4vw, 50px);
  text-shadow: 0 0 5px var(--highlight-color);
  margin-top: 10px;
}
.about h1 {
  font-size: max(2vw, 20px);
  color: var(--highlight-color);
  font-weight: 500;
  margin-bottom: 5px;
}
.one {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.two {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.one-three {
  width: 50%;
  height: 30vh;
}
.two-one {
  width: 80%;
  height: 30vh;
}
.two-one p {
  font-size: max(1vw, 20px);
}
.one-one,
.one-two {
  width: 25%;
  height: 30vh;
}
.about-design {
  border: 3px solid #0f0f0f;
  margin: 3vw;
  border-radius: 15px;
  background-color: #0f0f0f;
  box-shadow: 0 0 10px var(--highlight-color);
  transition: 0.2s;
  color: #e2e2e2;
  padding: 10px;
}
.about-design:hover {
  box-shadow: 0 0 80px var(--highlight-color);
  transform: translateY(-5px);
}
.about-design p {
  margin: 5px;
}
.social {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.social a {
  margin: 10px 30px;
}
.projects {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.two-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.project-card {
  border: 3px solid #0f0f0f;
  border-radius: 30px;
  box-shadow: 0 0 5px var(--highlight-color);
  position: relative;
  transition: 0.5s ease;
  width: 30vw;
  margin: 3vw 5vw;
}
.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 30px;
}
.project-content {
  position: relative;
  padding: 40px;
  color: #e2e2e2;
  transition: 0.5s;
  opacity: 0;
  font-size: max(1vw, 20px);
  font-weight: 500;
}
.project-card:hover {
  box-shadow: 0 0 40px var(--highlight-color);
  transform: translateY(-10px);
}
.project-card:hover .project-img {
  filter: blur(5px);
}
.project-card:hover .project-content {
  opacity: 1;
}
.project-content p {
  margin: 20px;
}
.project-content a {
  text-decoration: none;
  color: var(--highlight-color);
  border: 1px solid #0f0f0f;
  padding: 5px 20px;
  border-radius: 4px;
  background-color: #1e1e1e;
}
.skills {
  min-height: auto;
  padding-bottom: 7rem;
  text-align: center;
  color: var(--secondary-color);
}
.skills span {
  color: var(--highlight-color);
}
.skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.skills-col {
  flex: 1 1 40rem;
}
.skills-col .title {
  font-size: max(2.5rem);
  margin: 0 0 1.5rem;
}
.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid #0f0f0f;
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
  margin: auto 2vw;
}
.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #0f0f0f;
  z-index: -1;
  transition: 0.5s ease;
}
.skills-box .skills-content:hover::before {
  width: 100%;
  opacity: 0.6;
}
.skills-content .progress {
  padding: 1rem 0;
}
.skills-content .progress h3 {
  font-size: max(1.7rem);
  display: flex;
  justify-content: space-between;
}
.skills-content .progress h3 span {
  color: var(--secondary-color);
}
.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid #0f0f0f;
  padding: 0.5rem;
  margin: 1rem 0;
}
.bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background-color: var(--highlight-color);
}
.skills-col:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}
.skills-col:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 80%;
}
.skills-col:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 70%;
}
.skills-col:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 85%;
}
.skills-col:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}
.skills-col:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 70%;
}
.skills-col:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 80%;
}
.skills-col:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 95%;
}
.footer {
  width: 100%;
  height: 70vh;
  text-align: center;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.footer h1 {
  color: var(--highlight-color);
  font-size: max(4vw, 50px);
  text-shadow: 0 0 10px #0f0f0f;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map {
  width: 100%;
  height: 50vh;
  padding: 10px;
  border: 2px solid var(--secondary-color);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 2vw 1vw 2vw 5vw;
}
.form {
  margin-right: 10vw;
}
.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 40px;
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  margin-bottom: 30px;
  border-radius: 5px;
  color: var(--secondary-color);
  padding: 5px 10px;
}

::placeholder {
  color: var(--secondary-color);
}
#msg {
  height: 20vh;
  resize: none;
}
.form-submit-btn {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 40px;
  display: block;
  margin: auto;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.form-submit-btn:hover {
  border-color: var(--highlight-color);
  color: #0f0f0f;
  background-color: var(--highlight-color);
  box-shadow: 0 0 10px var(--highlight-color);
}
.last {
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: #0f0f0f;
}
.last h2 {
  color: var(--highlight-color);
  padding-top: 10px;
}
#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20vw;
  z-index: 999;
  background-color: #0f0f0f;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.9;
}
#sidebar a {
  color: var(--highlight-color);
}
#sidebar li {
  width: 100%;
  margin: 1vw;
}
.menuButton {
  display: none;
}
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
  .menuButton {
    display: block;
  }
}
@media (max-width: 1050px) {
  .home-right img {
    height: 35vh;
  }
  .home-left {
    font-size: max(1vw, 30px);
  }
  .about-design {
    margin: 1vw;
  }
  .contact {
    margin-left: 5vw;
  }
  .map {
    margin-right: 5vw;
  }
}
@media (max-width: 500px) {
  .home-right img {
    height: 25vh;
  }
  .home-left {
    font-size: max(1vw, 15px);
  }
  .about-design {
    margin: 1vw;
    font-size: max(1vw, 10px);
    width: 100%;
    margin: 20px;
  }
  .about {
    height: 150vh;
  }
  .one {
    flex-direction: column;
  }
  .two {
    flex-direction: column;
  }
  .social a {
    margin: 1px 10px;
  }
  .projects {
    height: 150vh;
  }
  .skills {
    height: 150vh;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .contact {
    margin-left: 5vw;
  }
  .map {
    margin-right: 5vw;
    height: 30vh;
  }
}
